/* Chỉ dùng cho 1 page cụ thể - Page Ứng viên  */

/* CSS cho Layout Content  */
.layout__content {
  padding: 25px;
  padding-top: 80px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100vh;
  overflow: hidden;
}

.layout__content .title__header {
  display: flex;
  justify-content: space-between;
}

.title__header .title__right {
  display: flex;
  gap: 10px;
}

.title__right .item-button {
  padding: 8px 10px;
  border-radius: 5px;
  font-size: 15px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}

.icon-delete {
  width: 24px;
  height: 24px;
  min-width: 24px;
  -webkit-mask-image: url(https://amisplatform.misacdn.net/apps/recruit2/assets/icons/icon-delete-candidate.svg);
  -webkit-mask-position: 0px 0px;
  -webkit-mask-repeat: no-repeat;
  background-color: #65696e;
}

.title__right .delete {
  border: 1px solid #fff;
}

.title__right .delete:hover {
  color: #4097ff;
  border: 1px solid #4097ff;
}

.title__right .delete:hover .icon-delete {
  background-color: #4097ff;
}

.title__right .icon-add {
  -webkit-mask-image: url(https://amisplatform.misacdn.net/apps/recruit2/assets/images/ICON.svg);
  -webkit-mask-position: -20px -656px;
  -webkit-mask-repeat: no-repeat;
  background-color: #ffffff;
  width: 20px;
  height: 20px;
  min-width: 20px;
}
.title__right .add {
  background-color: #4097ff;
  color: #fff;
}

.title__right .add:hover {
  background-color: #6ca8f3;
}
.layout__content .content {
  flex: 1;
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  /* min-height: 0;   */
}

.title__left {
  font-size: 20px;
  color: #fff;
  font-weight: 700;
}
.content__nav {
  margin: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content__search {
  width: 50%;
  position: relative;
}

.content__search::before {
  content: "";
  position: absolute;
}

.content__search input {
  width: 100%;
  max-width: 300px;
  padding: 10px;
  border: 1px solid #eae4e4;
  border-radius: 5px;
}

.content__search input:focus {
  outline: none;
}

.content__nav .content__feature {
  display: flex;
  align-items: center;
  gap: 15px;
}

.content__nav .filter {
  padding: 9px;
  border: 1px solid #eae4e4;
  cursor: pointer;
  border-radius: 5px;
}

.content__nav .filter .icon {
  -webkit-mask-image: url(https://amisplatform.misacdn.net/apps/recruit2/assets/images/ICON.svg);
  -webkit-mask-position: -40px -656px;
  -webkit-mask-repeat: no-repeat;
  width: 20px;
  height: 20px;
  min-width: 20px;
  background-color: #7a8188 !important;
}

.content_body {
  max-width: 100%;
  flex: 1;
  overflow-y: auto;
  overflow-x: auto;
  /* min-height: 0; */
}

.table-wrapper {
  width: 100%;
  min-height: 90%;
  /* overflow-x: auto; */
}

.candidate-table {
  border-collapse: collapse;
  font-size: 14px;
  width: max-content;
}

.candidate-table th,
.candidate-table td {
  border-bottom: 1px solid #e0e0e0;
  padding: 15px 15px;
  text-align: center;
  overflow: hidden;
}

.candidate-table th {
  font-size: 16px;
  font-weight: 600;
  border-right: 1px solid #f5f5f5;

  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #fff;
}

tr:hover {
  background: #e1eeff;
  cursor: pointer;
}

tr:hover .checkbox {
  background: #e1eeff !important;
}

thead tr th:last-child {
  border-right: 0;
}

.avatar-cell {
  display: flex;
  align-items: center;
  gap: 5px;
}

.avatar {
  width: 100%;
  height: 100%;
  max-width: 32px;
  max-height: 32px;
  border-radius: 50%;
  cursor: pointer;
}

.foot-table {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10px;
  background-color: #f5f5f5;
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.foot-table .total-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.total-page select {
  padding: 10px;
}

.total-page select:focus {
  outline: none;
}

.candidate-table thead .checkbox {
  position: sticky;
  z-index: 9;
  left: 0;
  background: #fff;
}

.candidate-table tbody .checkbox {
  position: sticky;
  z-index: 9;
  left: 0;
  background: #fff;
}

.col-action--item {
  margin-left: 10px;
  border-radius: 50%;
}

.col-action {
  display: flex;
}

tr:hover td.col-action {
  position: sticky;
  right: 0;
}

.prev {
  cursor: pointer;
  width: 20px;
  height: 20px;
  min-width: 20px;
  -webkit-mask-image: url(https://amisplatform.misacdn.net/apps/recruit2/assets/images/ICON.svg);
  -webkit-mask-position: -60px -696px;
  background-color: #7a8188 !important;
  -webkit-mask-repeat: no-repeat;
}

.next {
  cursor: pointer;
  width: 20px;
  height: 20px;
  min-width: 20px;
  background-color: #7a8188 !important;
  -webkit-mask-image: url(https://amisplatform.misacdn.net/apps/recruit2/assets/images/ICON.svg);
  -webkit-mask-position: -40px -696px;
  -webkit-mask-repeat: no-repeat;
}


.col-action {
  text-align: center;
}

.btn-action {
  width: 32px;
  height: 32px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-right: 8px;
  background-color: #f1f1f1;
  transition: all 0.2s ease;
}

.btn-action i {
  font-size: 14px;
}

/* nút sửa */
.btn-edit {
  color: #2563eb;
}

.btn-edit:hover {
  background-color: #2563eb;
  color: white;
}

/* nút xóa */
.btn-delete {
  color: #dc2626;
}

.btn-delete:hover {
  background-color: #dc2626;
  color: white;
}